BOT_TOKEN=your_telegram_bot_token
ALCHEMY_RPC=https://eth-mainnet.g.alchemy.com/v2/your_key
FEE_WALLET=0x1d5dfc070385e6d749707fc94c4af09207d311f9
FCFS_FEE_ETH=0.0002
ENCRYPTION_KEY=change_this_in_production
